# ANN MODEL
relationship between features and target are highly non-linear; there are many features and the interaction between them is complex
## before model building

In [40]:
# Import the data
# ALCHL_I: whether the driver is under the influence of alcohol or not
# PROFIL_I_R: whether the roadway is levelled or not
# SUR_COND: condition of the road surface (1: dry, 2: wet, 3: snow, 4: icy, 9: unknown)
# VEH_INVL: number of vehicles involved
# MAX_SEV_IR: severity of the accident (0: no injury, 1: non-fatal injury, 2: fatal injury)
import pandas as pd
import numpy as np
df=pd.read_csv('/Users/hexiaoyu/Desktop/Courses/INSY- DATA MINING/Accidents.csv')
df

     ALCHL_I  PROFIL_I_R  SUR_COND  VEH_INVL  MAX_SEV_IR
0          2           0         1         1           0
1          2           1         1         1           2
2          1           0         1         1           0
3          2           0         2         2           1
4          2           1         1         2           1
..       ...         ...       ...       ...         ...
995        2           0         1         1           0
996        1           1         1         2           1
997        1           0         1         3           2
998        2           0         1         1           0
999        2           0         1         1           0

[1000 rows x 5 columns]

In [41]:
df["ALCHL_I"] = df["ALCHL_I"]-1
df["VEH_INVL"] = df["VEH_INVL"]-1
df = pd.get_dummies(df, columns = ['SUR_COND'])

In [42]:
df

,ALCHL_I,PROFIL_I_R,VEH_INVL,MAX_SEV_IR,SUR_COND_1,SUR_COND_2,SUR_COND_3,SUR_COND_4,SUR_COND_9
0,1,0,0,0,True,False,False,False,False
1,1,1,0,2,True,False,False,False,False
2,0,0,0,0,True,False,False,False,False
3,1,0,1,1,False,True,False,False,False
4,1,1,1,1,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...
995,1,0,0,0,True,False,False,False,False
996,0,1,1,1,True,False,False,False,False
997,0,0,2,2,True,False,False,False,False
998,1,0,0,0,True,False,False,False,False
999,1,0,0,0,True,False,False,False,False

In [43]:
# Construct variables

X = df.drop(columns=['MAX_SEV_IR'])
y = df['MAX_SEV_IR']

In [44]:
# Split the data set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=5)

In [45]:
#### Either do standardize below to scale the VEH_INVL or just -1 as the the scales of other variables are also between 0 nad 1.
# Standardize the data set
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# 
# X_train_std = X_train.copy()
# X_train_std[['VEH_INVL']] = scaler.fit_transform(X_train_std[['VEH_INVL']])
# 
# X_test_std = X_test.copy()
# X_test_std[['VEH_INVL']] = scaler.transform(X_test_std[['VEH_INVL']])

In [46]:
# X_train_std

## build ANN

In [47]:
# Build ANN with one hidden layer and 8 nodes and evaluate

from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(8),max_iter=1000, random_state=0) # 1000 test iteration number
model = mlp.fit(X_train_std,y_train)
y_test_pred = model.predict(X_test_std)
from sklearn.metrics import accuracy_score 
accuracy_score(y_test, y_test_pred)

0.8606060606060606

In [48]:
y_test_pred

array([1, 2, 0, 2, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 2, 0, 2, 0, 1, 0, 0, 0, 1, 1, 1, 2, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 2,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 2, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1, 0, 2,
       1, 0, 0, 1, 0, 0, 0, 0, 2, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 2, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 2, 2, 1, 2, 1, 1, 0, 0, 1,
       0, 1, 0, 2, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 2, 0, 0])

In [49]:
# Tune hidden layer size
for i in range (3,16):
    mlp = MLPClassifier(hidden_layer_sizes=(i),max_iter=1000, random_state=0)
    model = mlp.fit(X_train_std,y_train)
    y_test_pred = model.predict(X_test_std)
    print(i,':' ,accuracy_score(y_test, y_test_pred))

3 : 0.8545454545454545
4 : 0.8545454545454545
5 : 0.8606060606060606
6 : 0.8606060606060606
7 : 0.8606060606060606
8 : 0.8606060606060606
9 : 0.8545454545454545
10 : 0.8606060606060606
11 : 0.8606060606060606
12 : 0.8606060606060606
13 : 0.8606060606060606
14 : 0.8606060606060606
15 : 0.8606060606060606